* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  color: #fff;
  background: #A78BFA;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: "";
  background: linear-gradient(45deg, #0a0410, rgba(96, 1, 75, 0.4392156863), #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #A78BFA;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #A78BFA;
  left: 0;
  top: 0;
  border-radius: 10px;
}

input, textarea {
  border-radius: 4px;
  border: 1px solid rgb(32, 10, 10);
}

input:focus,
textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
ul {
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
  letter-spacing: 1px;
}

header {
  padding: 15px 0;
  margin-bottom: 3px;
  box-shadow: 1px 3px 0px #bebdbd;
}
header .header__content {
  display: flex;
  margin-bottom: 20px;
}
header .header__content .hamburger:hover {
  cursor: pointer;
}
header .header__content .menu__btn {
  display: none;
}
header .header__content .header__logo {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
header .header__content .header__logo .header__logo-image {
  width: 50px;
  height: 74px;
}
header .header__content .header__logo .header__logo-title {
  white-space: nowrap;
  align-self: center;
  line-height: 32px;
  font-size: 24px;
  font-weight: 900;
}
header .header__content .header__description-delivery {
  width: 349px;
  height: 72px;
  text-align: end;
  line-height: 1.5;
  padding-right: 10px;
  border-right: 3px solid rgba(167, 139, 250, 0.2352941176);
}
header .header__content .header__contacts {
  padding-left: 10px;
  font-size: 21px;
}
header .header__content .header__contacts p {
  font-size: 33px;
  font-weight: 900;
  margin: 4px 0;
}
header .header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__menu ul {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 372px;
}
header .header__menu ul li a {
  padding: 5px 0;
  text-decoration: none;
}
header .header__menu ul li a:hover {
  border-bottom: 3px solid #30121e;
}
header .header__menu button {
  width: 196px;
  background-color: #A78BFA;
  border-radius: 5px;
  height: 44px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  -webkit-text-stroke: 0.2px rgb(9, 6, 6);
}

main {
  background-color: #e5e5e5;
  padding-bottom: 70px;
}

button {
  background-color: #A78BFA;
  border-radius: 5px;
  height: 44px;
  color: white;
}

.delivery {
  padding-top: 70px;
  display: flex;
  margin-bottom: 70px;
}
.delivery .delivery__description {
  max-width: 756px;
  margin-right: 10px;
  letter-spacing: 1px;
}
.delivery .delivery__description h1 {
  line-height: 1;
  font-size: 37px;
  font-weight: 800;
  margin-bottom: 10px;
}
.delivery .delivery__description p {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.delivery .delivery__description .delivery__photo {
  max-width: 756px;
  height: 352px;
}
.delivery .delivery__description .delivery__photo img {
  border-radius: 15px;
}
.delivery .calculator {
  width: 756px;
  background-color: white;
  padding: 15px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery .calculator h2 {
  font-weight: 36px;
  margin-bottom: 10px;
}
.delivery .calculator p {
  max-width: 358px;
  text-align: center;
  margin-bottom: 10px;
}
.delivery .calculator .wrapper__inputs {
  width: 496px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(48px, auto);
  grid-gap: 10px;
}
.delivery .calculator .wrapper__inputs input {
  padding-left: 10px;
}
.delivery .calculator .wrapper__inputs input:first-child, .delivery .calculator .wrapper__inputs button:last-child {
  grid-column: 1/3;
}
.delivery .calculator .wrapper__inputs button {
  background-color: #A78BFA;
  border-radius: 5px;
  height: 44px;
  color: white;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.benefits h2 {
  margin-bottom: 15px;
  font-size: 30px;
}
.benefits .benefits__container-advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}
.benefits .benefits__container-advantages .wrapper-advantage {
  display: flex;
}
.benefits .benefits__container-advantages .wrapper-advantage img {
  width: 136px;
  margin-right: 22px;
}
.benefits .benefits__container-advantages .wrapper-advantage .advantage__text {
  width: 300px;
  padding: 30px 0;
}
.benefits .benefits__container-advantages .wrapper-advantage .advantage__text h3 {
  margin-bottom: 10px;
}

.guarantees {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guarantees .guarantees__text {
  text-align: center;
}
.guarantees .guarantees__text h2 {
  margin-bottom: 10px;
}
.guarantees .guarantees__text p {
  padding: 0 30px;
  max-width: 740px;
  margin-bottom: 20px;
}
.guarantees .guarantees__certificates {
  display: flex;
  margin-bottom: 70px;
}
.guarantees .guarantees__certificates .guarantees__certificate-wrapper img {
  margin-bottom: 20px;
}
.guarantees .guarantees__certificates .guarantees__certificate-wrapper p {
  max-width: 366px;
  text-align: center;
  font-weight: 1000;
}
.guarantees button {
  width: 315px;
}

.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.reviews h2 {
  font-size: 34px;
  margin-bottom: 15px;
}
.reviews .review_slider {
  margin: 0 auto;
}
.reviews .review_slider .review__wrapper-slider {
  max-width: 1276px;
  display: flex;
  justify-content: space-between;
}
.reviews .review_slider .review__wrapper-slider .review {
  display: grid;
  grid-template-rows: 1fr 40px;
  grid-template-columns: 1fr 60px;
  width: 626px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  height: 318px;
}
.reviews .review_slider .review__wrapper-slider .review h4 {
  grid-column: 1/3;
  font-size: 28px;
}
.reviews .review_slider .review__wrapper-slider .review p {
  grid-row: 2/3;
  font-size: 28px;
  color: rgb(126, 127, 129);
}
.reviews .review_slider .review__wrapper-slider .review img {
  grid-row: 2/3;
  grid-column: 2/3;
}
.reviews .review_slider .review__wrapper-slider .review:not(:last-child) {
  margin-right: 20px;
}
.reviews .arrow-left {
  position: absolute;
  top: 154px;
  left: 49px;
}
.reviews .arrow-right {
  position: absolute;
  top: 154px;
  right: 49px;
}

.contactForm {
  padding: 60px 0;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactForm h2 {
  margin-bottom: 30px;
}
.contactForm form {
  width: 479px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 48px 1fr 48px;
  gap: 20px;
}
.contactForm form input {
  padding-left: 10px;
}
.contactForm form textarea {
  padding-left: 10px;
  grid-column: 1/3;
  padding-top: 10px;
}
.contactForm form button {
  grid-column: 1/3;
  grid-row: 4/5;
}

footer {
  background-color: black;
  color: #fff;
  padding: 40px 0;
}
footer .header__content {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
footer .header__content .menu__btn {
  display: none;
}
footer .header__content .header__logo {
  display: flex;
  margin-bottom: 10px;
}
footer .header__content .header__logo .header__logo-image {
  width: 50px;
  height: 74px;
}
footer .header__content .header__logo .header__logo-title {
  white-space: nowrap;
  align-self: center;
  line-height: 32px;
  font-size: 24px;
  font-weight: 900;
}
footer .header__content .header__description-delivery {
  width: 349px;
  height: 72px;
  text-align: end;
  line-height: 1.5;
  padding-right: 10px;
  border-right: 3px solid rgba(167, 139, 250, 0.2352941176);
}
footer .header__content .header__contacts {
  padding-left: 10px;
  font-size: 21px;
}
footer .header__content .header__contacts p {
  font-size: 33px;
  font-weight: 900;
  margin: 4px 0;
}
footer .header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .header__menu ul {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 372px;
}
footer .header__menu button {
  width: 196px;
  background-color: #A78BFA;
  border-radius: 5px;
  height: 44px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  -webkit-text-stroke: 0.2px rgb(9, 6, 6);
}
footer .footer__small-text {
  display: flex;
  justify-content: space-between;
  opacity: 0.25;
}
footer .footer__small-text p:first-child {
  font-size: 12px;
  max-width: 1180px;
}
footer .footer__small-text p:last-child {
  text-align: end;
  font-size: 12px;
  max-width: 252px;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1026px;
  }
  .delivery {
    display: block;
  }
  .delivery .delivery__description {
    display: flex;
    max-width: 1026px;
    margin: 0;
    justify-content: space-between;
  }
  .delivery .delivery__description .delivery__wrapper-text {
    max-width: 505px;
    margin-bottom: 40px;
  }
  .delivery .delivery__description .delivery__photo {
    max-width: 505px;
    height: 232px;
  }
  .delivery .delivery__description .delivery__photo img {
    width: 505px;
  }
  .delivery .calculator {
    width: 100%;
  }
  .benefits h2 {
    margin-bottom: 40px;
  }
  .benefits .benefits__container-advantages {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage img {
    height: 136px;
    width: 136px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage .advantage__text {
    padding: 0;
  }
  .guarantees .guarantees__certificates {
    flex-wrap: wrap;
    gap: 79px;
    margin-bottom: 109px;
    justify-content: space-evenly;
  }
  .reviews .review_slider .review__wrapper-slider {
    max-width: 816px;
  }
  .reviews .review_slider .review__wrapper-slider .review {
    width: 396px;
  }
  .reviews .review_slider .review__wrapper-slider .review h4 {
    font-size: 21px;
  }
  .reviews .review_slider .review__wrapper-slider .review p {
    font-size: 22px;
  }
  .header__content {
    font-size: 8px;
  }
}
@media (max-width: 1036px) {
  .container {
    max-width: 768px;
  }
  header {
    position: relative;
    height: 262px;
    box-shadow: none;
  }
  header .header__content .header__description-delivery {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 210px;
    left: 50%;
    margin-left: -375px;
    border-right: none;
    padding-right: 0;
    width: 750px;
    font-size: 12px;
    height: auto;
  }
  header .header__menu {
    height: 72px;
    border-top: 3px solid rgba(167, 139, 250, 0.2352941176);
    border-bottom: 3px solid rgba(167, 139, 250, 0.2352941176);
  }
  .delivery {
    max-width: 768px;
  }
  .delivery .delivery__description {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .delivery .delivery__description .delivery__wrapper-text {
    max-width: 100%;
  }
  .delivery .delivery__description .delivery__photo {
    max-width: 768px;
  }
  .delivery .delivery__description .delivery__photo img {
    width: 768px;
  }
  .benefits .benefits__container-advantages {
    grid-template-columns: repeat(2, 372px);
    gap: 10px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage {
    font-size: 12px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage img {
    width: 108px;
    height: 108px;
    margin-right: 10px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage .advantage__text {
    width: auto;
    max-width: 250px;
  }
  .guarantees .guarantees__certificates {
    row-gap: 76px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .reviews .review_slider {
    position: relative;
    width: 570px;
    height: 224px;
    overflow: hidden;
  }
  .reviews .review_slider .review__wrapper-slider {
    max-width: 1157px;
    position: absolute;
  }
  .reviews .review_slider .review__wrapper-slider .review {
    width: 570px;
    height: auto;
  }
  .reviews .arrow-left {
    top: 125px;
    left: 31px;
  }
  .reviews .arrow-right {
    top: 125px;
    right: 31px;
  }
  footer .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer .header__content .header__contacts {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: end;
  }
  footer .header__content .header__logo-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  footer .header__content .header__menu {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0 auto;
  }
  footer .footer__small-text {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__small-text p {
    text-align: center;
    margin-bottom: 5px;
  }
  footer .footer__small-text p:last-child {
    text-align: center;
  }
}
@media (max-width: 758px) {
  .container {
    max-width: 640px;
  }
  header {
    height: auto;
  }
  header .header__content {
    position: relative;
  }
  header .header__content .header__logo {
    margin-left: 10px;
  }
  header .header__content .header__logo .header__logo-title {
    font-size: 18px;
  }
  header .header__content .header__description-delivery {
    display: none;
  }
  header .header__content .header__contacts {
    display: flex;
    align-items: center;
  }
  header .header__content .header__contacts p {
    padding: 0;
    font-size: 20px;
    margin-right: 60px;
  }
  header .header__content .header__contacts span:last-child {
    display: none;
  }
  header .header__content .hamburger {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 50px;
    height: 50px;
  }
  header .header__content .line {
    width: 40px;
    height: 5px;
    background-color: #017b9a;
    display: block;
    margin: 8px auto;
    transition: all 0.1s ease-in-out;
  }
  header .header__content #hamburger-9 {
    display: inline;
    transition: all 0.1s ease-in-out;
  }
  header .header__content #hamburger-9.is-active {
    top: 20px;
    transform: rotate(45deg);
  }
  header .header__content #hamburger-9:before {
    content: "";
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    top: calc(50% - 26px);
    left: calc(50% - 24px);
    border-radius: 100%;
    transition: all 0.1s ease-in-out;
  }
  header .header__content #hamburger-9.is-active:before {
    border: 5px solid #01637b;
  }
  header .header__content #hamburger-9.is-active .line:nth-child(2) {
    opacity: 0;
  }
  header .header__content #hamburger-9.is-active .line:nth-child(1) {
    transform: translateY(13px);
  }
  header .header__content #hamburger-9.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(90deg);
  }
  header .header__menu {
    display: none;
  }
  .delivery .delivery__description h1 {
    font-size: 30px;
  }
  .delivery .delivery__description p {
    font-size: 20px;
  }
  .delivery .delivery__description .delivery__photo img {
    width: 640px;
  }
  .benefits .benefits__container-advantages {
    grid-template-columns: repeat(1, 372px);
    gap: 28px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage .advantage__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .guarantees .guarantees__text p {
    max-width: 640px;
  }
  .reviews .review_slider {
    width: 442px;
    height: 280px;
  }
  .reviews .review_slider .review__wrapper-slider .review {
    grid-template-rows: 198px 41px;
    width: 442px;
    height: 280px;
  }
  .reviews .review_slider .review__wrapper-slider .review h4 {
    font-size: 18px;
  }
  .reviews .review_slider .review__wrapper-slider .review img {
    width: 40px;
    height: 40px;
  }
  footer .header__content {
    grid-template-rows: 1fr 1fr 1fr;
  }
  footer .header__content .header__logo-wrapper {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 0 auto;
  }
  footer .header__content .header__contacts {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .container {
    padding: 0 5px;
    max-width: 400px;
  }
  header .header__content {
    margin-bottom: 0;
    display: block;
  }
  header .header__content .header__contacts p {
    margin: 0 0 0 54px;
    font-size: 16px;
  }
  .delivery .delivery__description .delivery__photo img {
    max-width: 300px;
    width: auto;
  }
  .delivery .calculator .wrapper__inputs {
    width: 300px;
    grid-template-columns: repeat(1, 300px);
  }
  .delivery .calculator .wrapper__inputs input {
    grid-column: 1/1;
  }
  .delivery .calculator .wrapper__inputs input:first-child {
    grid-column: 1/1;
  }
  .delivery .calculator .wrapper__inputs button:last-child {
    grid-column: 1/1;
  }
  .benefits .benefits__container-advantages {
    grid-template-columns: repeat(1, 270px);
    gap: 10px;
  }
  .benefits .benefits__container-advantages .wrapper-advantage img {
    width: 90px;
  }
  .reviews {
    margin-bottom: 120px;
  }
  .reviews .review_slider {
    width: 310px;
  }
  .reviews .review_slider .review__wrapper-slider .review {
    width: 305px;
  }
  .reviews .arrow-left,
  .reviews .arrow-right {
    top: 348px;
  }
  .contactForm form {
    width: 300px;
    grid-template-columns: 300px;
    grid-template-rows: 48px 48px 48px 48px;
  }
  .contactForm form input {
    grid-column: 1/1;
  }
  .contactForm form button {
    grid-column: 1/1;
    grid-row: 6;
  }
  .contactForm form textarea {
    grid-column: 1/1;
  }
  footer .header__content {
    grid-template-columns: 100px 100px;
  }
  footer .header__menu ul {
    font-size: 14px;
    width: 300px;
  }
}/*# sourceMappingURL=main.css.map */