footer{
  background-color: black;
  color:#fff;
  padding: 40px 0;
  .header__content{
    justify-content: space-between;
    .header__logo{
      margin-bottom: 10px;
    flex-grow: 0;
  }
  }
  .footer__small-text{
    p:first-child{
      font-size: 12px;
      max-width: 1180px;
    }
    p:last-child{
      text-align: end;
      font-size: 12px;
      max-width: 252px;
    }
    display:flex;
    justify-content: space-between;
    opacity:.25;
  }
}