
.container {
  max-width: 1530px;
  margin: 0 auto;
  letter-spacing: 1px;
}

header {
  padding: 15px 0;
  margin-bottom: 3px;
  box-shadow: 1px 3px 0px #bebdbd;
  .header__content {
    display: flex;
    margin-bottom: 20px;
    .hamburger:hover{
      cursor: pointer;
    }
    .menu__btn {
      display: none;
    }
    .header__logo {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      .header__logo-image {
        width: 50px;
        height: 74px;
      }
      .header__logo-title {
        white-space: nowrap;
        align-self: center;
        line-height: 32px;
        font-size: 24px;
        font-weight: 900;
      }
    }
    .header__description-delivery {
      width: 349px;
      height: 72px;
      text-align: end;
      line-height: 1.5;
      padding-right: 10px;
      border-right: 3px solid #a78bfa3c;
    }
    .header__contacts {
      padding-left: 10px;
      font-size: 21px;
      p {
        font-size: 33px;
        font-weight: 900;
        margin: 4px 0;
      }
    }
  }
  .header__menu {
    @include flex;
    ul {
      font-size: 18px;
      font-weight: 500;
      display: flex;
      @include flex;
      width: 372px;
      li{
        a{
          padding: 5px 0;
          text-decoration: none;
          // transition:
          // width 1s,
          // height 1s,
          // border-bottom 1s,
          // transform 2s;
        }
        a:hover{
          // text-decoration: #00fffc;
          border-bottom: 3px solid #30121e ;
        }
      }
    }
    button {
      width: 196px;
      @include button;
      font-size: 20px;
      font-weight: 900;
      -webkit-text-stroke: 0.2px rgb(9, 6, 6);
    }
  }
}
