.reviews {
  // text-align: center;
  @include flexColumn;
  margin-bottom: $margin-container;
  h2 {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .review_slider {
    margin: 0 auto;
    position: relative;
    .review__wrapper-slider {
      max-width: 1276px;
      display: flex;
      justify-content: space-between;
      .review {
        display: grid;
        grid-template-rows: 1fr 40px;
        grid-template-columns: 1fr 60px;
        width: 626px;
        padding: 20px;
        background-color: white;
        border-radius: 15px;
        height: 318px;
        h4 {
          grid-column: 1/3;
          font-size: 28px;
        }
        p {
          grid-row: 2/3;
          font-size: 28px;
          color: rgb(126, 127, 129);
        }
        img {
          grid-row: 2/3;
          grid-column: 2/3;
        }
      }
      .review:not(:last-child) {
        margin-right: 20px;
      }
    }
    .arrow-left
    {
      position: absolute;
      top: 136px;
      left: -84px;
    }
    .arrow-right {
      position: absolute;
      top: 136px;
      right: -84px;
    }
  }
}
